@inject IPlayerAtGameEntityService PlayerAtGameEntityService
@inject IRatingEntityService RatingEntityService
@inject IGameService GameService

@if (Link)
{
    @switch (EntityType)
    {
        case Enums.EntityType.PlayerAtGameEntity:
            <a href="/admin/games{@_playerAtGameEntity.UrlSegment}">@Label</a>
            break;
        case Enums.EntityType.RatingEntity:
            <a href="/admin/ratings/@_ratingEntity.UrlSegment">@Label</a>
            break;
        default:
            @Label
            break;
    }
}
else
{
    @Label
}

@code {
    [Parameter] public string RowKey { get; set; } = null!;

    [Parameter] public string Label { get; set; } = null!;

    [Parameter] public bool Link { get; set; } = true;

    [Parameter] public Enums.EntityType EntityType { get; set; }

    [Parameter] public Enums.TitleLength Length { get; set; } = Enums.TitleLength.Short;

    private PlayerAtGameEntity _playerAtGameEntity = null!;

    private RatingEntity _ratingEntity = null!;

    protected override void OnInitialized()
    {
        RefreshData();
    }
    
    protected override void OnParametersSet()
    {
        // Refresh the data every time the component's parameters are set (e.g., when navigated to)
        RefreshData();
    }
    
    private void RefreshData()
    {
        if (RowKey is null) throw new ArgumentException();

        switch (EntityType)
        {
            case Enums.EntityType.PlayerAtGameEntity:
                _playerAtGameEntity = PlayerAtGameEntityService.GetPlayerAtGameEntity(RowKey);
                
                //ToDo: This is a temporary hack until PlayerAtGame has expanded Game details and is seperated from PlayerAtGameEntity class.
                var gameUrlSegment = GameService.GetGame(_playerAtGameEntity.GameRowKey);
                _playerAtGameEntity.UrlSegment = $"/admin/{@gameUrlSegment}/{@_playerAtGameEntity.UrlSegment}";
                
                if (string.IsNullOrEmpty(Label))
                {
                    Label = PlayerAtGameEntityService.GetPlayerAtGameLabel(_playerAtGameEntity.RowKey, Length);
                }
                
                break;
            case Enums.EntityType.RatingEntity:
                _ratingEntity = RatingEntityService.GetRatingEntity(RowKey);
                if (string.IsNullOrEmpty(Label))
                {
                    Label = RatingEntityService.FormatRatingTime(_ratingEntity.RowKey, Length);
                }
                
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    }
}