@inject IGameService GameService
@inject IPlayerService PlayerService

@if (EntityType == Enums.EntityType.GameEntity)
{
    if (Link)
    {
        <a href="/games/@_gameEntity.UrlSegment">@Label</a>
    }
    else
    {
        @Label
    }
}

@if (EntityType == Enums.EntityType.PlayerEntity)
{
    @if (Link)
    {
        <a href="/players/@_playerEntity.UrlSegment">@Label</a>
    }
    else
    {
        @Label
    }
}

@code {
    [Parameter] public string RowKey { get; set; } = default!;

    [Parameter] public string Label { get; set; } = default!;

    [Parameter] public bool Link { get; set; } = true;

    [Parameter] public Enums.EntityType EntityType { get; set; }

    [Parameter] public Enums.TitleLength Length { get; set; } = Enums.TitleLength.Short;

    private GameEntity _gameEntity = default!;

    private PlayerEntity _playerEntity = default!;

    private PlayerAtGameEntity _playerAtGameEntity = default!;

    private TransactionEntity _transactionEntity = default!;

    private RatingEntity _ratingEntity = default!;

    protected override void OnInitialized()
    {
        RefreshData();
    }
    
    private void RefreshData()
    {
        if (RowKey is null) throw new ArgumentException();

        switch (EntityType)
        {
            case Enums.EntityType.PlayerEntity:
                _playerEntity = PlayerService.GetPlayerEntity(RowKey);

                Label = Length switch
                {
                    Enums.TitleLength.Short => _playerEntity.Name,
                    Enums.TitleLength.Long => $"{_playerEntity.Name}, {_playerEntity.Position}",
                    _ => _playerEntity.Name
                };

                break;
            case Enums.EntityType.GameEntity:
                _gameEntity = GameService.GetGameEntity(RowKey);
                if (string.IsNullOrEmpty(Label))
                {
                    Label = GameService.GetGameLabel(RowKey, Length);
                }

                break;
            case Enums.EntityType.PlayerAtGameEntity:
                break;
            case Enums.EntityType.TransactionEntity:
                break;
            case Enums.EntityType.RatingEntity:
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    }
}