@inject IGameEntityService GameEntityService
@inject IPlayerAtGameEntityService PlayerAtGameEntityService
@inject IRatingEntityService RatingEntityService

@if (Link)
{
    @switch (EntityType)
    {
        case Enums.EntityType.GameEntity:
            <a href="/games/@_gameEntity.UrlSegment">@Label</a>
            break;
        case Enums.EntityType.PlayerAtGameEntity:
            <a href="/games/@_gameEntity.UrlSegment/@_playerAtGameEntity.UrlSegment">@Label</a>
            break;
        case Enums.EntityType.RatingEntity:
            <a href="/ratings/@_ratingEntity.UrlSegment">@Label</a>
            break;
        default:
            @Label
            break;
    }
}
else
{
    @Label
}

@code {
    [Parameter] public string RowKey { get; set; } = null!;

    [Parameter] public string Label { get; set; } = null!;

    [Parameter] public bool Link { get; set; } = true;

    [Parameter] public Enums.EntityType EntityType { get; set; }

    [Parameter] public Enums.TitleLength Length { get; set; } = Enums.TitleLength.Short;

    private GameEntity _gameEntity = null!;

    private PlayerAtGameEntity _playerAtGameEntity = null!;

    private RatingEntity _ratingEntity = null!;

    protected override void OnInitialized()
    {
        RefreshData();
    }
    
    protected override void OnParametersSet()
    {
        // Refresh the data every time the component's parameters are set (e.g., when navigated to)
        RefreshData();
    }
    
    private void RefreshData()
    {
        if (RowKey is null) throw new ArgumentException();

        switch (EntityType)
        {
            case Enums.EntityType.GameEntity:
                _gameEntity = GameEntityService.GetGameEntity(RowKey);
                if (string.IsNullOrEmpty(Label))
                {
                    Label = GameEntityService.GetGameLabel(RowKey, Length);
                }

                break;
            case Enums.EntityType.PlayerAtGameEntity:
                _playerAtGameEntity = PlayerAtGameEntityService.GetPlayerAtGameEntity(RowKey);
                _gameEntity = GameEntityService.GetGameEntity(_playerAtGameEntity.GameRowKey);
                if (string.IsNullOrEmpty(Label))
                {
                    Label = PlayerAtGameEntityService.GetPlayerAtGameLabel(_playerAtGameEntity.RowKey, Length);
                }
                
                break;
            case Enums.EntityType.RatingEntity:
                _ratingEntity = RatingEntityService.GetRatingEntity(RowKey);
                if (string.IsNullOrEmpty(Label))
                {
                    Label = RatingEntityService.FormatRatingTime(_ratingEntity.RowKey, Length);
                }
                
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    }
}