@inject IGameEntityService GameEntityService

@if (GameEntity != default)
{
    var gameDateLabel = GameEntity.Date.ToString("dd MMM");
    var gameLabel = string.IsNullOrEmpty(GameEntity.Title) ? gameDateLabel : $"{gameDateLabel} {GameEntity.Title}";
    @if (Link)
    {
        <a href="/games/@GameEntity.RowKey">@gameLabel</a>
    }
    else
    {
        @gameLabel
    }
}
else
{
    <span>No game</span>
}

@code {
    [Parameter]
    public bool Link { get; set; }

    [Parameter]
    public GameEntity? GameEntity { get; set; }
    
    [Parameter]
    public string? GameEntityRowKey { get; set; }
    
    protected override void OnInitialized()
    {
        RefreshData();
    }
    
    private void RefreshData()
    {
        if (GameEntityRowKey is not null)
        {
            GameEntity = GameEntityService.GetGameEntity(GameEntityRowKey);
        }
    }
}