<a href="/admin/games/@GameUrlSegment">@GameLabel</a>

@code {
    [Parameter] public string GameLabel { get; set; } = null!;
    
    [Parameter] public string GameUrlSegment { get; set; } = null!;
}