@inject IGameService GameService

@if (!string.IsNullOrEmpty(_gameLabel))
{
    if (Link)
    {
        <a href="/games/@GameEntity?.RowKey">@_gameLabel</a>
    }
    else
    {
        @_gameLabel
    }
}
else
{
    <span>No game</span>
}

@code {
    [Parameter]
    public bool Link { get; set; }

    [Parameter]
    public GameEntity? GameEntity { get; set; }
    
    [Parameter]
    public string? GameEntityRowKey { get; set; }

    private string _gameLabel = default!;
    
    protected override void OnInitialized()
    {
        RefreshData();
    }
    
    private void RefreshData()
    {
        if (GameEntityRowKey is not null)
        {
            GameEntity = GameService.GetGameEntity(GameEntityRowKey);
        }

        _gameLabel = (GameEntity != null) ? GameService.GetGameLabel(GameEntity.RowKey) : string.Empty;
    }
}