@inject IGameService GameService

@if (!string.IsNullOrEmpty(_gameLabel))
{
    if (Link)
    {
        <a href="/games/@_gameDate">@_gameLabel</a>
    }
    else
    {
        @_gameLabel
    }
}
else
{
    <span>No game</span>
}

@code {
    [Parameter]
    public bool Link { get; set; }

    [Parameter]
    public GameEntity? GameEntity { get; set; }
    
    [Parameter]
    public string? GameEntityRowKey { get; set; }

    private string _gameLabel = default!;

    private string _gameDate = default!;
    
    protected override void OnInitialized()
    {
        RefreshData();
    }
    
    private void RefreshData()
    {
        if (GameEntityRowKey is not null)
        {
            GameEntity = GameService.GetGameEntity(GameEntityRowKey);
        }

        if (GameEntity is null) return;

        _gameDate = GameService.GetGameDateStringFromDate(GameEntity.Date.Date);
        _gameLabel = GameService.GetGameLabel(GameEntity.RowKey);
    }
}