@inject IGameService GameService

@if (string.IsNullOrEmpty(IconCss))
{
    <a class="@Css" href="/games/@_nextGameEntity.UrlSegment">Next Game</a>
}
else
{
    <a class="@Css" href="/games/@_nextGameEntity.UrlSegment"><i class="@IconCss"></i> Next Game</a>
}

@code {
    [Parameter] public string? Css { get; set; }

    [Parameter] public string? IconCss { get; set; }

    private GameEntity _nextGameEntity = default!;

    protected override void OnInitialized()
    {
        _nextGameEntity = GameService.GetNextGameEntity();
    }

}