@inject IGameService GameService

@if (string.IsNullOrEmpty(IconCss))
{
    <a class="@Css" href="/games/@_nextGame.UrlSegment">Next Game</a>
}
else
{
    <a class="@Css" href="/games/@_nextGame.UrlSegment"><i class="@IconCss"></i> Next Game</a>
}

@code {
    [Parameter] public string? Css { get; set; }

    [Parameter] public string? IconCss { get; set; }

    private Game _nextGame = null!;

    protected override void OnInitialized()
    {
        _nextGame = GameService.GetNextGame();
    }

}