@inject IGameEntityService GameEntityService
@inject ITransactionEntityService TransactionEntityService

@if (PagEntity.Played)
{
    <button type="button" class="btn btn-outline-secondary btn-sm active d-none d-md-inline" @onclick="TogglePlayed"> Played</button>
}
else
{
    <button type="button" class="btn btn-outline-secondary btn-sm d-none d-md-inline" @onclick="TogglePlayed"> Not Played</button>
}
<span></span>
<button type="button" class="btn btn-outline-secondary btn-sm d-none d-md-inline" @onclick="SwitchPagTeam">@PagEntity.Team <i class="fa-solid fa-repeat"></i></button>
<button type="button" class="btn btn-outline-secondary btn-sm d-none d-lg-inline" @onclick="() => AddTransactionForPlayer(3)"><i class="fa-solid fa-plus"></i> £3 - To Do player default rate</button>
<a type="button" class="btn btn-outline-secondary btn-sm d-inline" href="/pags/@PagEntity.RowKey"><i class="fa-solid fa-edit"></i> Edit</a>

@code {
    [Parameter]
    public PlayerAtGameEntity PagEntity { get; set; } = default!;

    [Parameter]
    public EventCallback RefreshMainPage { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    private async Task TogglePlayed()
    {
        await GameEntityService.TogglePlayerAtGamePlayedAsync(PagEntity, null);
        await RefreshMainPage.InvokeAsync();
    }

    private async Task SwitchPagTeam()
    {
        if (PagEntity.Team == "A")
        {
            PagEntity.Team = "B";
        }
        else if (PagEntity.Team == "B")
        {
            PagEntity.Team = "";
        }
        else
        {
            PagEntity.Team = "A";
        }
        await GameEntityService.UpsertPlayerAtGameEntityAsync(PagEntity);
        await RefreshMainPage.InvokeAsync();
    }

    private async Task AddTransactionForPlayer(double amount)
    {
        var newTransactionEntityForPag = new TransactionEntity()
            {
                Date = DateTimeOffset.UtcNow,
                Notes = GameEntityService.GetNotesForGame(PagEntity.GameRowKey),
                PlayerRowKey = PagEntity.PlayerRowKey,
                Amount = amount
            };
        if (TransactionEntityService is not null)
        {
            await TransactionEntityService.UpsertTransactionEntityAsync(newTransactionEntityForPag);
        }
        await RefreshMainPage.InvokeAsync();
    }

    private async Task RefreshData()
    {
        var game = GameEntityService.GetGameEntity(PagEntity.GameRowKey);
        await RefreshMainPage.InvokeAsync();
    }

}