@inject IGameEntityService GameEntityService
@inject ITransactionEntityService TransactionEntityService
@inject IPlayerEntityService PlayerEntityService
@inject NavigationManager Navigation

<AuthorizeView Policy="IsAdminEmail">
    <Authorized>
        <div class="hstack gap-2">
            @if (PagEntity.Played)
            {
            <button type="button" class="btn btn-outline-secondary btn-sm active d-inline" @onclick="TogglePlayed"> Played</button>
            }
            else
            {
            <button type="button" class="btn btn-outline-secondary btn-sm d-inline" @onclick="TogglePlayed"> Not Played</button>
            }

            @if (PagEntity.Team == null)
            {
            <button type="button" class="btn btn-outline-secondary btn-sm d-none d-md-inline" @onclick="() => SwitchPagTeam(Enums.Team.A)"> +A <i class="fa-solid fa-repeat"></i></button>
            <button type="button" class="btn btn-outline-secondary btn-sm d-none d-md-inline" @onclick="() => SwitchPagTeam(Enums.Team.B)"> +B <i class="fa-solid fa-repeat"></i></button>
            }
            else
            {
            <button type="button" class="btn btn-outline-secondary btn-sm d-none d-md-inline" @onclick="() => SwitchPagTeam(Enums.Team.None)">@PagEntity.Team <i class="fa-solid fa-repeat"></i></button>
            }

            <button type="button" class="btn btn-outline-secondary btn-sm d-none d-md-inline" @onclick="AddTransactionForPlayer"><i class="fa-solid fa-plus"></i> £@_pagDefaultAmount</button>
            <button type="button" class="btn btn-outline-secondary btn-sm d-none d-lg-inline" @onclick="NavigateToPag"><i class="fa-solid fa-edit"></i> Edit</button>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public PlayerAtGameEntity PagEntity { get; set; } = default!;

    [Parameter]
    public EventCallback RefreshMainPage { get; set; }

    private double _pagDefaultAmount = default;
    
    private GameEntity _pagGameEntity = default!;

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    private async Task TogglePlayed()
    {
        await GameEntityService.TogglePlayerAtGamePlayedAsync(PagEntity, null);
        await RefreshMainPage.InvokeAsync();
    }

    private async Task SwitchPagTeam(Enums.Team team)
    {
        if (team == Enums.Team.None)
        {
            // No team set so swap to opposite team or A if nothing is set
            PagEntity.Team = PagEntity.Team switch
            {
                "A" => "B",
                "B" => "A",
                _ => "A"
            };
        }
        else
        {
            PagEntity.Team = team.ToString();
        }

        await GameEntityService.UpsertPlayerAtGameEntityAsync(PagEntity);
        await RefreshMainPage.InvokeAsync();
    }

    private void NavigateToPag()
    {
        Navigation.NavigateTo($"/games/{_pagGameEntity.UrlSegment}/{PagEntity.UrlSegment}");
    }

    private async Task AddTransactionForPlayer()
    {
        var newTransactionEntityForPag = new TransactionEntity()
            {
                Date = DateTimeOffset.UtcNow,
                Notes = GameEntityService.GetNotesForGame(PagEntity.GameRowKey),
                PlayerRowKey = PagEntity.PlayerRowKey,
                Amount = _pagDefaultAmount
            };
        if (TransactionEntityService is not null)
        {
            await TransactionEntityService.UpsertTransactionEntityAsync(newTransactionEntityForPag);
        }
        await RefreshMainPage.InvokeAsync();
    }

    private async Task RefreshData()
    {
        _pagGameEntity = GameEntityService.GetGameEntity(PagEntity.GameRowKey);
        _pagDefaultAmount = PlayerEntityService.GetDefaultRateForPlayerEntity(PagEntity.PlayerRowKey);
        await RefreshMainPage.InvokeAsync();
    }

}