<a href="/players/@PlayerUrlSegment">@PlayerName</a>

@code {
    [Parameter] public string PlayerName { get; set; } = null!;
    
    [Parameter] public string PlayerUrlSegment { get; set; } = null!;
}