<a href="/players/@PlayerUrlSegment">@PlayerName</a>

@code {
    [Parameter] public Player Player { get; set; } = default!;
    
    [Parameter] public string PlayerName { get; set; } = default!;
    
    [Parameter] public string PlayerUrlSegment { get; set; } = default!;
    
    protected override void OnInitialized()
    {
        if (Player is not null)
        {
            PlayerName = Player.Name;
            PlayerUrlSegment = PlayerUrlSegment;
        }
    }
}