@inject IPlayerService PlayerService

@if (Link)
{
    <a href="/players/@_pe.UrlSegment">@_pe.Name</a>
}
else
{
    @_pe.Name
}

@code {
    [Parameter]
    public bool Link { get; set; }

    [Parameter]
    public string PlayerRowKey { get; set; } = default!;

    private PlayerEntity _pe = default!;

    protected override void OnInitialized()
    {
        if (PlayerRowKey is not null)
        {
            _pe = PlayerService.GetPlayerEntity(PlayerRowKey);
        }
    }
}