<a href="/players/@Pag?.Player.PlayerEntity.RowKey/player">
@if (!string.IsNullOrEmpty(_css))
{
    <i class="@_css"></i>  
}
else
{
    @if(Rag is not null)
    {
        @Rag.ToString()
    }
}
</a>

@code {
    [Parameter]
    public PlayerAtGame? Pag { get; set; }

    [Parameter]
    public string? Rag { get; set; }

    private string? _css;

    protected override void OnParametersSet()
    {
        SetCss();
    }

    protected override void OnInitialized()
    {
        SetCss();
    }

    private void SetCss()
    {
        if (Pag is not null)
        {
            // Work out pag RAG status
            Rag = "red";
            if (!Pag.PlayerAtGameEntity.Played)
            {
                // Not played, so pre-game rag
                if (Pag.Player.Balance < 0)
                {
                    Rag = "red";
                }
                else if ((Pag.Player.Balance >= 0) && (Pag.Player.Balance < Pag.Player.PlayerEntity.DefaultRate))
                {
                    Rag = "amber";
                }
                else if (Pag.Player.Balance >= Pag.Player.PlayerEntity.DefaultRate)
                {
                    Rag = "green";
                }
            }
            else
            {
                // Has played so post game rag
                if (Pag.Player.Balance >= 0)
                {
                    Rag = "green";
                }
                else if ((Pag.Player.Balance == 0) && (Pag.Player.Balance > 0))
                {
                    Rag = "amber";
                }
            }

            switch (Rag)
            {
                case "green":
                    _css = "fa-solid fa-circle-check text-success";
                    break;   
                case "amber":
                    _css = "fa-solid fa-circle-question text-warning";
                    break;  
                case "red":
                    _css = "fa-solid fa-circle-exclamation text-danger";
                    break; 
                default:
                    break;
            }
        }
    }
}