@inject IPlayerEntityService PlayerEntityService
<a href="/players/@PagEntity?.PlayerRowKey/player">
@if (!string.IsNullOrEmpty(_css))
{
    <i class="@_css"></i>  
}
else
{
    @if(Rag is not null)
    {
        @Rag.ToString()
    }
}
</a>

@code {
    [Parameter]
    public PlayerAtGameEntity? PagEntity { get; set; }

    [Parameter]
    public string? Rag { get; set; }

    private string? _css;

    protected override void OnParametersSet()
    {
        SetCss();
    }

    protected override void OnInitialized()
    {
        SetCss();
    }

    private void SetCss()
    {
        if (PagEntity is not null)
        {
            // Work out pag RAG status
            Rag = "red";
            var pagBalance = PlayerEntityService.GetBalanceForPlayerEntity(PagEntity.PlayerRowKey);
            var pagDefaultRate = PlayerEntityService.GetDefaultRateForPlayerEntity(PagEntity.PlayerRowKey);
            if (!PagEntity.Played)
            {
                // Not played, so pre-game rag
                if (pagBalance < 0)
                {
                    Rag = "red";
                }
                else if ((pagBalance >= 0) && (pagBalance < pagDefaultRate))
                {
                    Rag = "amber";
                }
                else if (pagBalance >= pagDefaultRate)
                {
                    Rag = "green";
                }
            }
            else
            {
                // Has played so post game rag
                if (pagBalance >= 0)
                {
                    Rag = "green";
                }
                else if ((pagBalance == 0) && (pagBalance > 0))
                {
                    Rag = "amber";
                }
            }

            switch (Rag)
            {
                case "green":
                    _css = "fa-solid fa-circle-check text-success";
                    break;   
                case "amber":
                    _css = "fa-solid fa-circle-question text-warning";
                    break;  
                case "red":
                    _css = "fa-solid fa-circle-exclamation text-danger";
                    break; 
                default:
                    break;
            }
        }
    }
}