<a href="/admin/players/@PlayerRowKey">
@if (!string.IsNullOrEmpty(_css))
{
    <i class="@_css"></i>  
}
</a>

@code {
    [Parameter]
    public required double Balance { get; set; }
    
    [Parameter]
    public required double DefaultRate { get; set; }
    
    [Parameter]
    public required string PlayerRowKey { get; set; }
    
    [Parameter]
    public required bool Played { get; set; }

    private string? _css;

    protected override void OnParametersSet()
    {
        SetCss();
    }

    protected override void OnInitialized()
    {
        SetCss();
    }

    private void SetCss()
    {
        var rag = "red";
            // Work out pag RAG status
            if (!Played)
            {
                switch (Balance)
                {
                    // Not played, so pre-game rag
                    case < 0:
                        rag = "red";
                        break;
                    case >= 0 when (Balance < DefaultRate):
                        rag = "amber";
                        break;
                    default:
                    {
                        if (Balance >= DefaultRate)
                        {
                            rag = "green";
                        }

                        break;
                    }
                }
            }
            else
            {
                // Has played so post game rag
                if (Balance >= 0)
                {
                    rag = "green";
                }
                else if (Balance == 0 && Balance > 0)
                {
                    rag = "amber";
                }
            }

            switch (rag)
            {
                case "green":
                    _css = "fa-solid fa-circle-check text-success";
                    break;   
                case "amber":
                    _css = "fa-solid fa-circle-question text-warning";
                    break;  
                case "red":
                    _css = "fa-solid fa-circle-exclamation text-danger";
                    break; 
                default:
                    break;
            }
    }
}