<span>@TeamName has @Pags?.Count players and a rating of @Pags?.Select(o => o.PlayerEntity.AdminRating).DefaultIfEmpty(0).Average().ToString("#.##")</span>

@code {
    [Parameter]
    public List<PlayerAtGame>? Pags { get; set; }

    [Parameter]
    public string? TeamName { get; set; }
}