@page "/admin"
@inject IStorageService StorageService

<PageTitle>Tuesday.Football</PageTitle>

<AuthorizeView Policy="IsAdminEmail">
    <Authorized>
        <h1>Welcome to Tuesday.Football Admin Portal</h1>
        <button class="btn btn-primary" @onclick="RefreshData">Refresh Data</button>

        <h2>Render Mode Experiments</h2>
        <br>
        <a href="/RenderAuto">InteractiveAuto</a>
        <br>
        <a href="/RenderServer">InteractiveServer</a>
        <br>
        <a href="/RenderWebAssembly">InteractiveWebAssembly</a>

        <BootstrapBreakpoints />

        <Counter/>
    </Authorized>
    <NotAuthorized>
        <h4>Access Denied!</h4>
    </NotAuthorized>
</AuthorizeView>

@code {
    void RefreshData()
    {
        StorageService.RefreshData();
    }
}
