@page "/admin"
@inject IStorageService StorageService

<PageTitle>Tuesday.Football</PageTitle>

<AuthorizeView Policy="IsAdminEmail">
    <Authorized>
        <h1>Welcome to Tuesday.Football Admin Portal</h1>
        <button class="btn btn-primary" @onclick="RefreshData">Refresh Data</button>

        <BootstrapBreakpoints  @rendermode="RenderMode.InteractiveAuto" />

        <Counter @rendermode="RenderMode.InteractiveAuto"/>
    </Authorized>
    <NotAuthorized>
        <h4>Access Denied!</h4>
    </NotAuthorized>
</AuthorizeView>

@code {
    void RefreshData()
    {
        StorageService.RefreshData();
    }
}
