<style>
    .fa-stack.small { font-size: 0.6em; }
    i { vertical-align: middle; }
</style>

@if (!string.IsNullOrEmpty(css))
{
    <span class="fa-stack small">
        <i class="fa-solid fa-star fa-stack-2x"></i>
        <i class="@css"></i>
    </span>
}

@code {
    [Parameter]
    public double Rating { get; set; }

    private string css;

    protected override void OnParametersSet()
    {
        SetCss();
    }

    protected override void OnInitialized()
    {
        SetCss();
    }

    private void SetCss()
    {
        var roundedRating = Math.Round(Rating);
        switch (roundedRating)
        {
            case 1:
                css = "fa-solid fa-1 fa-stack-1x fa-inverse";
                break;
            case 2:
                css = "fa-solid fa-2 fa-stack-1x fa-inverse";
                break;       
            case 3:
                css = "fa-solid fa-3 fa-stack-1x fa-inverse";
                break; 
            case 4:
                css = "fa-solid fa-4 fa-stack-1x fa-inverse";
                break;
            case 5:
                css = "fa-solid fa-5 fa-stack-1x fa-inverse";
                break;
            default:
                css = "";
                break;
        }
    }
}