@inject NavigationManager NavigationManager

<p>@NavigationManager.Uri</p>
<p>@NavigationManager.BaseUri</p>
<p>@_showBreadcrumb</p>

@if (_showBreadcrumb)
{
    <ol class="d-lg-none breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item "><a href="/games">Games</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol> 
}


@code{
    private bool _showBreadcrumb;
    
    protected override void OnParametersSet()
    {
        _showBreadcrumb = NavigationManager.Uri != NavigationManager.BaseUri;
    }
}