@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorageService

<AuthorizeView>
    <Authorized>
        @if (DisplayAsButton)
        {
            <a class="btn btn-primary" @onclick="LogOut" href="authentication/logout"><i class="fa-solid fa-key me-2"></i> Logout</a>
        }
        else
        {
            <a class="nav-link" @onclick="LogOut" href="authentication/logout">Logout</a>
        }
    </Authorized>
    <NotAuthorized>
        @if (DisplayAsButton)
        {
            <a class="btn btn-primary" @onclick="Login" href="authentication/login"><i class="fa-solid fa-key me-2"></i> Login</a>
        }
        else
        {
            <a class="nav-link" @onclick="Login" href="authentication/login">Login</a>
        }
    </NotAuthorized>
</AuthorizeView>

@code{
    [Parameter] public bool DisplayAsButton { get; set; }
    
    private async Task Login()
    {
        var currentUrl = Navigation.Uri; // Capture the current URL
        await LocalStorageService.SetItemAsStringAsync("returnurl", currentUrl);
        
        // Redirect to the login page using the Microsoft authentication service
        Navigation.NavigateTo("authentication/login");
    }
    
    public void LogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
