@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <a class="nav-link" @onclick="BeginLogOut" href="#">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="authentication/login">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
