@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <a class="nav-link" @onclick="BeginLogOut" href="#"><i class="fa-solid fa-key me-2"></i> Log out @context.User.Identity?.Name</a>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="authentication/login"><i class="fa-solid fa-key me-2"></i> Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
