@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorageService

<AuthorizeView>
    <Authorized>
        <a class="nav-link" @onclick="LogOut" href="authentication/logout">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" @onclick="LoginWithReturnUrl" href="authentication/login">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task LoginWithReturnUrl()
    {
        var currentUrl = Navigation.Uri; // Capture the current URL
        await LocalStorageService.SetItemAsStringAsync("returnurl", currentUrl);
        
        // Redirect to the login page using the Microsoft authentication service
        Navigation.NavigateTo("authentication/login");
    }
    
    public void LogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
