@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
    <div class="container">
        <a class="navbar-brand" href="/">Tuesday.Football</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <NavLink class="nav-link dropdown-toggle" href="games" data-bs-toggle="dropdown" aria-expanded="false" Match="NavLinkMatch.Prefix">Games</NavLink>
                    <ul class="dropdown-menu">
                        <li><NavLink class="dropdown-item" href="games" Match="NavLinkMatch.All">Games</NavLink></li>
                        <NextGameLink Css="dropdown-item" />
                        <li><NavLink class="dropdown-item" href="games/add" Match="NavLinkMatch.All">Add Game</NavLink></li>
                        <li><NavLink class="dropdown-item" href="games/addplayerstogame" Match="NavLinkMatch.All">Add Players to Game</NavLink></li>
                        <li><NavLink class="dropdown-item" href="games/addtransactionstogame" Match="NavLinkMatch.All">Add Transactions to Game</NavLink></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <NavLink class="nav-link dropdown-toggle" href="players" data-bs-toggle="dropdown" aria-expanded="false" Match="NavLinkMatch.Prefix">Players</NavLink>
                    <ul class="dropdown-menu">
                        <li><NavLink class="dropdown-item" href="players" Match="NavLinkMatch.All">Players</NavLink></li>
                        <li><NavLink class="dropdown-item" href="players/add" Match="NavLinkMatch.All">Add Player</NavLink></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <NavLink class="nav-link dropdown-toggle" href="transactions" data-bs-toggle="dropdown" aria-expanded="false" Match="NavLinkMatch.Prefix">Transactions</NavLink>
                    <ul class="dropdown-menu">
                        <li><NavLink class="dropdown-item" href="transactions" Match="NavLinkMatch.All">Transactions</NavLink></li>
                        <li><NavLink class="dropdown-item" href="transactions/add" Match="NavLinkMatch.All">Add Transaction</NavLink></li>
                    </ul>
                </li>
                <AuthorizeView Policy="IsAdminEmail">
                    <Authorized>
                        <li class="nav-item dropdown">
                            <NavLink class="nav-link dropdown-toggle" href="ratings" data-bs-toggle="dropdown" aria-expanded="false" Match="NavLinkMatch.Prefix">Ratings</NavLink>
                            <ul class="dropdown-menu">
                                <li><NavLink class="dropdown-item" href="ratings" Match="NavLinkMatch.All">Ratings</NavLink></li>
                                <li><NavLink class="dropdown-item" href="ratings/add" Match="NavLinkMatch.All">Add Rating</NavLink></li>
                                <li><NavLink class="dropdown-item" href="ratings/addmultiple" Match="NavLinkMatch.All">Add Multiple Ratings</NavLink></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="admin" Match="NavLinkMatch.All">Admin</NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/martinkearn/sports-team-organiser/issues">Issue</a>
                </li>
                <li class="nav-item">
                    <LoginDisplay></LoginDisplay>
                </li>
            </ul>
        </div>
        
    </div>
</nav>

<div class="container my-2">
    <ol class="d-lg-none breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item "><a href="/games">Games</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
    @Body
</div>









