<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tuesday.Football</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fa-solid fa-house me-2"></i>Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="games">
                <i class="fa-solid fa-people-group me-2"></i>Games
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cachedgames">
                <i class="fa-solid fa-people-group me-2"></i>Cached Games
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin"><i class="fa-solid fa-key me-2"></i>Admin Home</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cachedadmin"><i class="fa-solid fa-key me-2"></i>Cached Admin Home</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="players"><i class="fa-solid fa-user me-2"></i>Players</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transactions"><i class="fa-solid fa-coins me-2"></i>Transactions</NavLink>
        </div> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ratings"><i class="fa-regular fa-star me-2"></i>Ratings</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://github.com/martinkearn/sports-team-organiser/issues"><i class="fa-solid fa-question me-2"></i>Report an issue</NavLink>
        </div>
        <div class="nav-item px-3">
            <LoginDisplay />
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
