<span class="@css">£@String.Format("{0:0.00}", Amount)</span>

@code {
    [Parameter]
    public double Amount { get; set; }

    [Parameter]
    public bool BlackText { get; set; }

    private string css;

    protected override void OnParametersSet()
    {
        SetCss();
    }

    protected override void OnInitialized()
    {
        SetCss();
    }

    private void SetCss()
    {
        if (!BlackText)
        {
            switch (Amount)
            {
                case (<0):
                    css = "red-text";
                    break;
                case (0):
                    css = "black-text";
                    break;
                case (>0):
                    css = "green-text";
                    break;
                default:
                    break;
            }
        }
        else
        {
            css = "black-text";
        }
    }
}