@inject IGameService GameService

@if (game != default)
{
    @if (Link)
    {
        <a href="/games/@game.GameEntity.RowKey/players">@game.GameEntity.Date.Date.ToString("dd MMM")</a>
    }
    else
    {
        @game.GameEntity.Date.Date.ToString("dd MMM")
    }
}
else
{
    <span>No game</span>
}

@code {
    [Parameter]
    public string GameRowKey { get; set; }

    [Parameter]
    public bool Link { get; set; }

    private Game game;

    protected override async Task OnParametersSetAsync()
    {
        await GetGame();
    }

    protected override async Task OnInitializedAsync()
    {
        await GetGame();
    }

    private async Task GetGame()
    {
        game = await GameService.GetGame(GameRowKey);
    }
}