@inherits LayoutComponentBase

<PageTitle>TNF</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            <AuthorizeView Policy="IsAdminEmail">
                <Authorized>
                    @Body
                </Authorized>
                <NotAuthorized>
                    <h4>Access Denied!</h4>
                </NotAuthorized>
            </AuthorizeView>
        </article>
    </main>
</div>
