@page "/"
@inject IStorageService StorageService
@inject IHttpContextAccessor HttpContextAccessor

<PageTitle>TNF</PageTitle>

<h1>Welcome to TNF @username</h1>

@code {
    private string? username;

    protected override void OnInitialized()
    {
        username = HttpContextAccessor?.HttpContext?.Request.Headers["X-MS-CLIENT-PRINCIPAL-NAME"];
    }
}
