@page "/admin"
@layout AdminLayout

<PageTitle>Tuesday.Football Admin</PageTitle>

<h1>Tuesday.Football Admin</h1>

<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
        <h3 class="fs-2 text-body-emphasis"><i class="fa-solid fa-people-group"></i> Games</h3>
        <p>Create and manage Players. Including who is playing, teams and payments.</p>
        <a class="btn btn-outline-secondary" href="/admin/games"><i class="fa-solid fa-chevron-right"></i> All Games</a>
        <NextGameLink Css="btn btn-outline-secondary" IconCss="fa-solid fa-chevron-right" />
    </div>

    <div class="feature col">
        <h3 class="fs-2 text-body-emphasis"><i class="fa-solid fa-user"></i> Players</h3>
        <p>Create and manage Players. Including their position, transactions and rating.</p>
        <a class="btn btn-outline-secondary" href="/admin/players"><i class="fa-solid fa-chevron-right"></i> All Players</a>
    </div>

    <div class="feature col">
        <h3 class="fs-2 text-body-emphasis"><i class="fa-solid fa-coins"></i> Transactions</h3>
        <p>Create and manage Transactions. Charge players for games, add lump sums to their accounts and addon-off payments for games.</p>
        <a class="btn btn-outline-secondary" href="/admin/transactions"><i class="fa-solid fa-chevron-right"></i> All Transactions</a>
    </div>
</div>