@page "/"

<PageTitle>Tuesday.Football</PageTitle>

<h1>Welcome to Tuesday.Football</h1>

<p>Nothing to see here yet but watch this space.</p>
<p>New features for players coming soon:</p>
<ul>
    <li>State whether you are playing or not</li>
    <li>See your balance</li>
    <li>See the team selection</li>
</ul>

<h2>Ratings</h2>
<p>You can add a rating to any player for a game they have played.</p>
<p>Rating data will be used in the future to show leaderboards for the the top-rated players and help make team selection more even.</p>
<a class="btn btn-primary" href="/ratings/add"><i class="fa-regular fa-star"></i> Add a Rating</a>

<h2>Counter from Client</h2>
<STO.Client.Pages.Counter/>