@page "/authentication/{Action}"
@layout MainLayout
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<h1>Authentication @Action</h1>

<p><RemoteAuthenticatorView Action="@Action" OnLoginSucceeded="@HandleLoginSucceeded" /></p>

@code{
    [Parameter] public string? Action { get; set; }

    private void HandleLoginSucceeded()
    {
        //ToDo: This redirect works for external sites, but not internal ones. For internal it goes to home page.
        Navigation.NavigateTo("https://www.bing.com");
    }
}
