@page "/authentication/{Action}"
@layout MainLayout
@inject ILocalStorageService LocalStorageService
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<h1>Authentication @Action</h1>

<p><RemoteAuthenticatorView Action="@Action" OnLogInSucceeded="@HandleLoginSucceeded" /></p>

@code {
    [Parameter] public string? Action { get; set; }
    
    private async Task HandleLoginSucceeded()
    {
        await Task.Delay(100);  // Short delay to let RemoteAuthenticatorView finish
        var returnUrl = await LocalStorageService.GetItemAsync<string>("returnurl");
        if (!string.IsNullOrEmpty(returnUrl) && returnUrl != Navigation.Uri)
        {
            await LocalStorageService.RemoveItemAsync("returnurl"); // Clean up storage
            Navigation.NavigateTo(returnUrl, true); // Redirect to the original URL
        }
    }
}


