@page "/backendjobs"
@inject IGameService GameService
@inject IPlayerService PlayerService
@inject ITransactionService TransactionService

<PageTitle>TNF - Backend Jobs</PageTitle>

<p>@_updateStatus</p>

<button class="btn btn-primary" @onclick="SetUrlSegmentGames"> Set UrlSegment for All Games</button>

<button class="btn btn-primary" @onclick="SetUrlSegmentPlayers"> Set UrlSegment for All Players</button>

<button class="btn btn-primary" @onclick="SetUrlSegmentPags"> Set UrlSegment for All PAGs</button>

<button class="btn btn-primary" @onclick="SetUrlSegmentTransactions"> Set UrlSegment for All Transactions</button>


@code {
	private int _updateCount = 0;
	private string _updateStatus = default!;

	private async Task SetUrlSegmentGames()
	{
		_updateCount = 0;
		_updateStatus = "Start Games";
		var games = GameService.GetGameEntities();
		foreach (var game in games)
		{
			await GameService.UpsertGameEntityAsync(game);
			_updateCount += 1;
		}
		_updateStatus = $"Updated {_updateCount} Games";
	}
	
	private async Task SetUrlSegmentPlayers()
	{
		_updateCount = 0;
		_updateStatus = "Start Players";
		var players = PlayerService.GetPlayerEntities();
		foreach (var player in players)
		{
			await PlayerService.UpsertPlayerEntityAsync(player);
			_updateCount += 1;
		}
		_updateStatus = $"Updated {_updateCount} Players";
	}

	private async Task SetUrlSegmentPags()
	{
		_updateCount = 0;
		_updateStatus = "Start Pags";
		var games = GameService.GetGameEntities();
		foreach (var game in games)
		{
			foreach (var pag in GameService.GetPlayerAtGameEntitiesForGame(game.RowKey))
			{
				await GameService.UpsertPlayerAtGameEntityAsync(pag);
				_updateCount += 1;
			}
		}
		_updateStatus = $"Updated {_updateCount} Pags";
	}
	
	private async Task SetUrlSegmentTransactions()
	{
		_updateCount = 0;
		_updateStatus = "Start Transactions";
		var transactions = TransactionService.GetTransactionEntities();
		foreach (var te in transactions)
		{
			await TransactionService.UpsertTransactionEntityAsync(te);
			_updateCount += 1;
		}
		_updateStatus = $"Updated {_updateCount} Trasnactions";
	}

}
