@page "/browserstorage"
@inject Blazored.LocalStorage.ILocalStorageService localStore

<h1>Browser Storage</h1>

<p>@noteContent</p>

<br>

<button @onclick="ReadLocalStorage">Read</button>
<button @onclick="UpdateLocalStorage">Save</button>
<button @onclick="ClearLocalStorage">Clear</button>

@code{
    string? noteContent;

    public async void ReadLocalStorage()
    {
        noteContent = await localStore.GetItemAsStringAsync("note");
    }

    public async void UpdateLocalStorage()
    {
        await localStore.SetItemAsync("note", $"Last updated at {DateTime.UtcNow.ToLongTimeString()}");
    }

    public async void ClearLocalStorage()
    {
        await localStore.RemoveItemAsync("note");
    }
}