@page "/browserstorage"
@inject Blazored.LocalStorage.ILocalStorageService localStore

<h1>Browser Storage</h1>

<p>@noteContent</p>

<br>

<button @onclick="ReadLocalStorage">Read</button>
<button @onclick="UpdateLocalStorage">Save</button>
<button @onclick="ClearLocalStorage">Clear</button>

@code{
    string? noteContent;

    public async Task ReadLocalStorage()
    {
        var noteValue = await localStore.GetItemAsStringAsync("note");
        noteContent = noteValue ?? "No 'note' value saved";
    }

    public async Task UpdateLocalStorage()
    {
        await localStore.SetItemAsync("note", $"Last updated at {DateTime.UtcNow.ToLongTimeString()}");
    }

    public async Task ClearLocalStorage()
    {
        await localStore.RemoveItemAsync("note");
    }
}