@page "/games"
@inject IGameEntityService GameEntityService

<PageTitle>TNF - @pageTitle</PageTitle>

<h1><i class="fa-solid fa-people-group me-2"></i> @pageTitle</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Date</th>
			<th scope="col">Notes</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var ge in gameEntities)
		{
			<tr>
				<td><GameEntityTitle GameEntity="@ge" Link="true" /></td>
				<td>@ge.Notes</td>
			</tr>
		}
	</tbody>
</table>

<div class="modal-footer px-0">
	<a class="btn btn-primary" href="/quickaddpag"><i class="fa-solid fa-plus"></i> Add Player to Game</a>
	<a class="btn btn-primary" href="/games/add"><i class="fa-solid fa-plus"></i> Add Game</a>
</div>

@code {
	private List<GameEntity> gameEntities = new();

	private string pageTitle = default!;

	protected override void OnInitialized()
	{
		RefreshData();
	}

	private void RefreshData()
	{
		gameEntities = GameEntityService.GetGameEntities();
		pageTitle = "Games";
	}
}