@page "/"

<PageTitle>Tuesday.Football</PageTitle>

<h1>Welcome to Tuesday.Football</h1>

<p>Nothing to see here yet but watch this space.</p>
<p>New features for players coming soon:</p>
<ul>
    <li>State whether you are playing or not</li>
    <li>See your balance</li>
    <li>See the team selection</li>
</ul>

<h2>Quick Links</h2>
<div class="vstack gap-2 col-md-3 mx-left">
    <a class="btn btn-secondary" href="/games/addplayerstogame"><i class="fa-solid fa-user"></i> Add Players to Game</a>
    <a class="btn btn-secondary" href="/games/addtransactionstogame"><i class="fa-solid fa-coins"></i> Add Payments to Game</a>
    <a class="btn btn-secondary" href="/ratings/addmultiple"><i class="fa-regular fa-star"></i> Add Ratings</a>
</div>
