@page "/playerssetdefaultrate"
@inject IPlayerService PlayerService

<PageTitle>TNF - @_pageTitle</PageTitle>

<h1><i class="fa-solid fa-user me-2"></i> @_pageTitle</h1>

<div class="mb-3">
    <label class="form-label">Default Rate</label>
    <div class="input-group">
        <span class="input-group-text">£</span>
        <InputNumber type="number" min="0" class="form-control" id="addDefaultRate" @bind-Value="_newDefaultRate"  />
    </div>
</div>

<div class="hstack gap-2">
    <button class="btn btn-primary" @onclick="SetDefaultRate" title="Reset Teams"><i class="fa-solid fa-save"></i> <span class="d-none d-md-inline">Set Default Rate</span></button>
    @if (_playerUpdateCount > 0)
    {
        <p>@_playerUpdateCount players updated</p>
    }
</div>

@code {
    [CascadingParameter] public MainLayout MainLayout { get; set; } = default!;
    private string _pageTitle = default!;
    private double _newDefaultRate;
    private int _playerUpdateCount;

    protected override void OnInitialized()
    {
        RefreshData();
    }

    private async Task SetDefaultRate()
    {
        var allPlayers = PlayerService.GetPlayers().ToList();
        _playerUpdateCount = 0;

        foreach (var player in allPlayers)
        {
            player.DefaultRate = _newDefaultRate;
            await PlayerService.UpsertPlayerAsync(player);
            _playerUpdateCount += 1;
        }
    }

    private void RefreshData()
    {
        _pageTitle = "Players Set Default Rate";
        MainLayout.SetPageTitle(_pageTitle);
    }

}