@page "/ratings/addthanks"

<PageTitle>TNF - Thanks for the ratings</PageTitle>

<h1><i class="fa-regular fa-star me-2"></i> Thanks for the ratings</h1>

<p>Your rating was submitted, thank you.</p>
<p>The system does not show leaderboards yet but will show them soon for for the top-rated players only.</p>
<p>The system does not yet take ratings into account for team selection, but will do when we have enough data.</p>
<div class="modal-footer px-0">
    <a class="btn btn-primary" href="/ratings/addmultiple"><i class="fa-solid fa-arrow-right"></i> Add more ratings</a>
</div>