@page "/testpageone"
@layout MainLayout

<PageTitle>Test Page 1</PageTitle>

<h1 style="background-color: yellow">Test Page 1</h1>

<a href="/">Home</a>
<a href="/testpageone">One</a>
<a href="/testpagetwo">Two</a>

<LoginDisplay />

<AuthorizeView Policy="IsAdminEmail">
    <Authorized>
        Authenticated
    </Authorized>
    <NotAuthorized>
        Not Authenticated
    </NotAuthorized>
</AuthorizeView>